.slider__wrapper {
    position: relative;
    border-radius: 100%;
}

.slider__wrapper .cs-handle-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
}

.slider__wrapper .cs-handle {
    cursor: default;
    position: absolute;
    right: -15px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: linear-gradient(180deg, #FFFFFF, #efefef);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px 0;
}

.slider__wrapper .cs-handle:active {
    background: linear-gradient(180deg, #EBEBEB, #DFDFDF)
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    flex: 1;
}

.slider__wrapper {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
}